.logo {
  width: 5em;
}

.info {
  margin: 1em 0 0 0;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  padding: 13em 0 13em 0;
  background-image: url(img/background.jpg);
  max-width: 100%;
  background-position: center;
  background-size: contain;
  color: #D0D0D0;
  text-shadow: 2px 1px black;
}

.button {
  font-weight: bold;
  border: solid 1px gray;
}
